<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <ul class="text-left">
            <% categories.forEach(category=> { %>
                <li>
                    <a href="/category/<%= category.category_id%>">
                        <%= category.name %>
                    </a>

                </li>

                <% }) %>

        </ul>
        <p><a href="/new-category">Add a new Category</a></p>

    </main>

    <%- include('partials/footer') %>