<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>
            <%= categoryDetails.name %>
        </h2>

        <%> if (user && user.role_name==='admin') { <%>
            <a href="/edit-category/<%=categoryDetails.category_id %>">Edit Category</a>
        <%> } <%>


        <strong>Service Projects:</strong>
        <ul>
            <% projectByCategory.forEach(project=> { %>
                <li>
                    <a href="/project/<%=project.project_id%>">
                        <%= project.title %>
                    </a>
                </li>

                <% }); %>

        </ul>

    </main>

    <%- include('partials/footer') %>