<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>
            <%= projectDetails.title %>
        </h2>
        <p>Description: <%= projectDetails.description %>
        </p>

        <% if (user && user.role_name==='admin' ) { %>
            <a href="/edit-project/<%= projectDetails.project_id %>">Edit Project</a>
            <% } %>

                <div>
                    <p><strong>Location:</strong>
                        <%= projectDetails.location %>
                    </p>
                    <p><strong>Date:</strong>
                        <%= new Date(projectDetails.date).toLocaleDateString('en-US', { weekday: 'long' ,
                            year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                    </p>
                    <p>
                        <strong>Organization:</strong>
                        <a href="/organization/<%= projectDetails.organization_id %>">
                            <%= projectDetails.name %>
                        </a>
                    </p>

                    <strong>categories:</strong>
                    <ul>
                        <% categoryProject.forEach(category=> { %>

                            <li>
                                <a href="/category/<%=category.category_id%>">
                                    <%= category.name %>
                                </a>
                            </li>

                            <% }); %>
                    </ul>
                </div>

                <% if (user && user.role_name==='admin' ) { %>
                    <a href="/assign-categories/<%= projectDetails.project_id %>">Edit Categories</a>
                    <% } %>

                        <!-- NEW CONDITIONAL VOLUNTEER SECTION -->
                        <% if (user) { %>
                            <div>
                                <% if (isVolunteering) { %>
                                    <!-- Message and link when the user IS already a volunteer -->
                                    <p>You are volunteering for this project</p>
                                    <p><a href="/projects/remove-volunteer/<%= projectDetails.project_id %>">Remove
                                            myself as a volunteer</a></p>
                                    <% } else { %>
                                        <!-- Link when the user is logged in but NOT a volunteer yet -->
                                        <p><a href="/projects/choose-volunteer/<%= projectDetails.project_id %>">Volunteer
                                                for this project</a></p>
                                        <% } %>
                            </div>
                            <% } %>

    </main>

    <%- include('partials/footer') %>